nav a {
  color: white;
}
nav a:hover {
  color: black;
}
header {
  background-image: linear-gradient(to bottom right, orange, pink);
}
body {
  background-image: linear-gradient(#3498db, #1abc9c);
}
img {
  transition: all 0.5s;

  &:hover {
    cursor: pointer;

    transform: rotate(360deg);

    outline: 2px solid #9c27b0;
    box-shadow: 0 0 5px rgba(161, 32, 184, 0.756);
  }
}

input {
  border: none;
  outline: #3498db;
  &&::placeholder {
    color: rgb(72, 69, 69);
    font-weight: normal;
    font-size: normal;
  }
  &&:hover {
    outline: 2px solid #9c27b0;
    box-shadow: 0 0 5px rgba(161, 32, 184, 0.756);
  }
}

.content {
  background-image: linear-gradient(to bottom right, #6a82fb, #af67e9);

  &&:hover {
    cursor: pointer;
    outline: 2px solid #9c27b0;
    box-shadow: 0px 0px 20px 20px rgba(161, 32, 184, 0.756);
  }
}
.aboutWeather > p:nth-child(1) {
  font-size: 46px;
  font-weight: 700;
}
.aboutWeather > p:nth-child(2) {
  font-size: 40px;
  font-weight: 600;
}
.aboutWeather > p:nth-child(3) {
  font-size: 32px;
  font-weight: 600;
}
#errorMessage {
  color: #333333;
}
